.Wrapper {
    padding: 20px;
    display: flex;
    justify-content: space-between;

    ._Infomation_Left,
    .select {
        padding: 10px;
        border: solid 1px transparent;
        border-radius: 30px;
    }

    ._Infomation_Left {
        background-color: #A08161;
        color: white;
        font-weight: 700;

    }

    ._Infomation_Right {
        .select {
            padding: 10px 30px;
            border: solid 1px gray;
        }
    }
}