.footer {
    padding: 50px;
    background-color: green;


    .imga {
        margin-bottom: 50px;
    }

    .imga img {
        margin: 0 auto;
    }
}

.box_footer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    width: 70%;

    .box_infomation {
        text-align: left;
        padding: 10px;

        .title_infomation {
            color: white;


        }
    }
}