.wrapper {}

.List_produce {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin: 10px 0px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    .item {
        border: 1px solid gray;

        .primry {
            padding: 10px;

            span {
                color: red;
                font-weight: 800;
            }

            strike {
                padding: 0px 10px;
                color: gray;
            }
        }

    }

    .list_image {
        position: relative;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;

        p {
            position: absolute;
            color: white;
            top: 5%;
            left: 5%;
            transform: translate(-5%, -5%);
            border: solid 1px red;
            padding: 0px 5px;
            background-color: red;
        }

    }


}