.Main {
    width: 100%;
    min-height: 700px;
    margin: 50px 0px;
}

.TitleProduce {
    padding: 0px 20px;
    width: 100%;
    display: flex;

    justify-content: space-evenly;
    margin: 0 auto;

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

.Produce {

    text-align: left;
    font-size: 20px;
    margin-left: 50px;

    .primry {
        font-size: 25px;
        color: red;
        font-weight: 800;
    }

    .text {
        font-size: 30px;
    }

    h2 {

        color: black;
        font-weight: 700;
    }

    h2,
    p {
        padding-left: 20px;

    }

    p {
        padding: 20px;
    }


}

.text {}

.primry {}

.content {
    text-align: justify;

}

.btn {
    display: inline-flex;
}

.wrapper {
    display: flex;
    height: 0px;

    li {
        margin-left: 30px;
        height: 30px;

        span {
            display: inline-flex;
            margin-left: 10px;
            padding: 0px 30px;
            border: solid 1px black;
            line-height: 30px;
        }

        span:nth-child(1):hover,
        span:nth-child(3):hover {
            background-color: black;
            color: white;
        }

        display: flex;
    }
}

.btn1 {
    display: block;
}

.wrapper1 {
    display: flex;
    margin: 10px;
    width: 100%;


    li {
        font-weight: 700;
        color: black;
        margin: 20px 10px;
        border: 1px solid #272258;
        padding: 20px 20px;
        cursor: pointer;
    }


    li:nth-child(1),
    li:nth-child(3) {
        color: white;
        background-color: #272258;

    }
}

.wrapper2 {
    margin-left: 20px;
    text-align: center;
    background-color: #f5d04d;
    padding-bottom: 30px;

    li {
        color: white;
        font-weight: 600;
        padding: 30px 20px 0px 20px;
    }

    p {
        font-weight: 600;
        color: white;
        font-size: 15px;
        padding: 0;
    }

}

.wrapper3 {
    font-size: 25px;
    text-align: justify;
    padding: 20px;
    width: 600px;

    .list {
        .item {
            font-weight: 700;
        }
    }
}